body {
  background-image: url("Images/gridoffset-videogames-1-1585583517.jpg");
}

.a {
  text-align: center;
  text-decoration: none;
  font-size: large;
}

.h2-size {
  font-size: x-large;
}

.bg {
  background-color: #000d6b;
}

.mar {
  margin-top: 25px;
  padding-top: 25px;
  padding-left: 45px;
}

.yellow {
  color: #ffc900;
}

.home-page {
  margin-top: 3rem;
}

.car {
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
  height: 759px;
}

.car-img {
  width: 1350px;
  height: 759px;
}

.img-size {
  width: 265px;
  height: 149px;
  margin-right: 3rem;
}

.end {
  text-align: end;
}

.con {
  width: 80%;
  height: 100%;
}

.textarea-holder {
  margin-top: 2rem;
  padding-top: 45px;
  padding-bottom: 45px;
}

.textarea {
  resize: none;
  width: 80%;
  height: 250px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.button {
  margin-right: 12px;
  margin-bottom: 12px;
}

.trash {
  color: #ffc900;
  font-size: xx-large;
}

.notes-img {
  width: 100%;
  height: 100%;
}

@media (min-width: 375px) and (max-width: 767px) {
  .car {
    margin-top: 17rem;
    margin-bottom: 15rem;
    width: 350px;
    height: 181px;
    align-items: center;
  }

  .car-img {
    width: 350px;
    height: 181px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .car {
    margin-top: 15rem;
    width: 675px;
    height: 400px;
  }

  .car-img {
    width: 675px;
    height: 400px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .library {
    width: 100%;
  }

  .img-size {
    margin-right: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .library {
    width: 50%;
  }

  .img-size {
    margin-right: 7rem;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .trash {
    color: #ffc900;
    font-size: large;
  }

  .h2-size {
    font-size: medium;
  }

  .textarea {
    resize: none;
    width: 80%;
    height: 100%;
    margin-right: 25px;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .trash {
    color: #ffc900;
    font-size: x-large;
  }

  .h2-size {
    font-size: x-large;
  }

  .textarea {
    resize: none;
    width: 80%;
    height: 200px;
    margin-right: 25px;
    margin-bottom: 25px;
  }
}
